@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl leading-[48px] sm:text-[50px] sm:leading-[64px] lg:text-[64px] lg:leading-[70px] my-2.5;
  }
  h2 {
    @apply text-3xl leading-[52px] md:text-4xl md:leading-[50px] mb-3;
  }
  h3 {
    @apply uppercase opacity-60 tracking-widest font-medium text-xs leading-5 mb-4;
  }
  p {
    @apply text-base opacity-60 leading-6 mb-2.5;
  }
}

@layer components {
  .section {
    @apply py-[100px];
  }
  .inner-container {
    @apply max-w-[1140px] lg:mx-auto;
  }
  .col {
    @apply px-[30px] xl:px-0;
  }
  .p-big {
    @apply text-base opacity-100 md:text-xl;
  }
  .red-text {
    @apply text-red-600 font-bold;
  }
  .button-1 {
    @apply cursor-pointer inline-block uppercase tracking-widest font-medium text-xs leading-5 rounded-full bg-zinc-900 px-7 py-3;
  }
  .button-2 {
    @apply cursor-pointer inline-block uppercase tracking-widest font-medium rounded-full bg-white text-black px-9 py-5;
  }
  .card {
    @apply rounded-xl max-w-[365px] px-[30px] py-[15px] bg-neutral-900;
  }
}

body {
  background-color: black;
  color: white;
  font-family: Montserrat, sans-serif;
}
